body {
    font-family: Arial, sans-serif;
    background-color: #589a93;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #343a40;
    color:rgb(248, 248, 248);
    padding: 10px;
    font-size: large;
    text-align: center;
    word-spacing: 40px;
    font-family: 'Times New Roman', Times, serif;
}

nav a {
    color:#589a93;
    margin: 0 10px;
    letter-spacing: 2.5px;
    text-decoration:none;
}

.container {
    padding: 20px;
}

h1, h2 {
    color: #303031;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    -webkit-text-stroke-width: 1px;
}

form p {
    margin: 30px 0;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    color: #303031;
    -webkit-text-stroke-width: 1px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

ul li {
    background-color: #343a40;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #000000;
    color: #589a93;
    text-align:center;
}

footer {
    background-color: rgba(0,0,0,0.6);;
    color: #009688;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #000000;
    text-decoration: none;
}